body {
  --scrollbar-width: initial; 
  --main-content-width: initial; 
  --navbar-height: initial; 
  --inner-content-height: initial;
}


input.text-bg-light::placeholder {
  color: RGBA(0, 0, 0, 0.5); ; 
}

#main-navbar{
  display:inline-block; 
  position: fixed; 
  width: 100vw;
}

#main-content{
  display:inline-block;
  min-width: var(--main-content-width);
}

#main-sidebar{
  display:inline-block;
}

#main-inner-content{
  padding-left: 20px;
  padding-top: 10px;
  min-width: 100%;
  margin-top: var(--navbar-height);
  height: var(--inner-content-height);
}
.sidebar-offcanvas{
    width: 280px;
    height: 100%;
}

.channel-sidebar-link:hover {
    background-color: #616161;

}
.channel-sidebar-link:active {
    background-color: #616161;
}

@media (min-width: 992px) {
  #main-navbar{
    width: var(--main-content-width);
  }
  #main-content{
    margin-left: 280px;
  }
  #main-sidebar{
    position: fixed;
    top: 0;
  }
  .sidebar-offcanvas{
    height: 100vh;
    }
}

.clickable {
    cursor: pointer;
}


@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.placeholder{
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to bottom right, #555 10%, #999 18%, #555 33%);
    background-size: 1000px 1000px;
}


.padding-none {
    padding: 0 !important;
}