body {
    --scrollbar-width: initial;
    --main-content-width: initial;
    --navbar-height: initial;
    --inner-content-height: initial;
    --chat-start-y: initial;
}


input.text-bg-light::placeholder {
    color: RGBA(0, 0, 0, 0.5);
    ;
}

#main-navbar {
    display: inline-block;
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

#main-content {
    display: inline-block;
    min-width: var(--main-content-width);
}

#main-sidebar {
    display: inline-block;
}

#main-inner-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    min-width: 100%;
    margin-top: var(--navbar-height);
    height: var(--inner-content-height);
}

.sidebar-offcanvas {
    width: 280px;
    height: 100%;
    max-width: 75vw;
}

.channel-sidebar-link:hover {
    background-color: #616161;

}

.channel-sidebar-link:active {
    background-color: #616161;
}


.channel {
    margin: auto;
}

.chat-input {
    padding: 10px;
    position: fixed;
    bottom: 0;
    max-width: 1100px;
}

@media (min-width: 992px) {
    .chat-input {
        width: 1100px;
    }
}


.chat {
    /*--chat-input-height: calc(var(--window-inner-height) -);*/
    --chat-height: calc(var(--chat-input-start-y) - var(--chat-start-y));
    --rad: 20px;
    --rad-sm: 3px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    max-height: var(--chat-height);
    min-height: var(--chat-height);
    overflow-y: scroll;

    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
}

.chat::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}


.msg {
    position: relative;
    max-width: 75%;
}

.msg.sent {
    border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);

    /* moves it to the right */
    margin-left: auto;
    text-align-last: end;
}

.msg.rcvd {
    border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
    /* moves it to the left */
    margin-right: auto;
}

.msg .msg-content {
    padding: 7px 15px;
    margin-bottom: 2px;
    background: var(--bs-dark);
    color: var(--bs-white);
}

.msg.rcvd .msg-content {
    border-radius: var(--rad-sm) var(--rad) var(--rad) var(--rad-sm);
}

.msg.sent .msg-content {
    border-radius: var(--rad) var(--rad-sm) var(--rad-sm) var(--rad);
}

.msg-time.sent {
    /* moves it to the right */
    margin-left: auto;
}

.msg-time.rcvd {
    /* moves it to the left */
    margin-right: auto;
}

/* Improve radius for messages group */

.msg.sent .msg-first {
    border-top-right-radius: var(--rad);
}

.msg.sent .msg-last {
    border-bottom-right-radius: var(--rad);
}

.msg.rcvd .msg-first {
    border-top-left-radius: var(--rad);
}

.msg.rcvd .msg-last {
    border-bottom-left-radius: var(--rad);
}

@media (min-width: 992px) {
    #main-navbar {
        width: var(--main-content-width);
    }

    #main-content {
        margin-left: 280px;
    }

    #main-sidebar {
        position: fixed;
        top: 0;
    }

    .sidebar-offcanvas {
        height: 100vh;
    }

    .channel {
        max-width: 1100px;
    }
}

.clickable {
    cursor: pointer;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }

    100% {
        background-position: 468px 0
    }
}

#alertContainer {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 300px;
    z-index: 9999;
}

.placeholder {
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to bottom right, #555 10%, #999 18%, #555 33%);
    background-size: 1000px 1000px;
}


.padding-none {
    padding: 0 !important;
}