@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
.placeholder{
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: linear-gradient(to bottom right, #555 10%, #999 18%, #555 33%);
    background-size: 1000px 1000px;
}


.padding-none{
    padding: 0 !important;
}